& {
  max-width: 50rem;
  height: 82rem;
  margin: 0 auto;
}

.sort-rating {
  width: 200px;
  margin: auto;
  border: 0.1px solid rgba(255, 0, 0, 0.205);
  height: auto;
  padding-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(255, 0, 0, 0.034),
              0 6.7px 5.3px rgba(255, 0, 0, 0.048),
              0 12.5px 10px rgba(255, 0, 0, 0.06),
              0 22.3px 17.9px rgba(255, 0, 0, 0.072),
              0 41.8px 33.4px rgba(255, 0, 0, 0.086),
              0 100px 80px rgba(255, 0, 0, 0.041);
  p{
    text-align: center;
    font-size: 1.5rem;
  }
  .rating-button{
    transform: translateX(1rem);
    background-color: rgba(255, 0, 0, 0.103);
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    &:focus {
      background-color: whitesmoke;
      color: red;
      border: 3px solid red;
    }
  }
}
h1{
  text-align: center;
}