& {
  .details > h2 {
    color: #e91c50;
  }
}



.title{
  font-size: 3rem;
  transform: translateY(-.3rem);
}

.desc{
  color: #79102a;
  font-size: 1.5rem;
  transform: translateY(3.1rem);
}

.rating{
  float: right;
  font-size: 1.5rem;
  transform: translateY(-7rem) translateX(-2px);
}

.delete{
  transform: translateX(661px);
  color: #e91c50;
  border: 1rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  cursor: pointer;
    &:hover {
      background-color: #e91c50;
      color: rgb(255, 255, 255);
    }
}

.edit{
  color: #e91c50;
  border-radius: 1rem;
  font-size: 1.1rem;
  border: 1rem;
  cursor: pointer;
    &:hover {
      background-color: #e91c50;
      color: rgb(255, 255, 255);
    }
}