<li class={{this.styleNamespace}}>
  <div class='details'>
    <h2>
      {{this.movie.title}}
    </h2>
    <h3>
      {{this.movie.rating}}
    </h3>

    <p>
      {{this.movie.description}}
    </p>
  </div>
</li>